@model eForgeModels.BlogEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Subject</h2>
<h4>
    @Model.PublicationDate.Value.ToLongDateString() 
    @if (!string.IsNullOrEmpty(@Model.Author.Name)) {
        <span>| @Model.Author.Name</span>
    }
    </h4>
<hr />
<div>
     @Html.Raw(Model.Body)
</div>
<p>&nbsp;</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
