@model IList<eForgeModels.BlogEntry>

@{
    ViewBag.Title = "Thoughts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div id="categorymenu">
    <ul>
        @foreach (var item in ViewBag.Categories) {
            <li>
                <a href="~/Thoughts/Category/@item.Name">@item.Name
                    <span>@item.Description</span>
                </a>
            </li>
        
        }
    </ul>
</div>

    @for (int i = 0; i < Model.Count(); i = i + 3) {

    <div class="row">

        <div class="col-md-4">
            <h2>@Html.DisplayFor(modelItem => Model[i].Subject)</h2>
            <p>
                @Html.DisplayFor(modelItem => Model[i].Summary)
            </p>
            <p>@Html.ActionLink(Model[i].LinkText, "Details", new { id = Model[i].BlogEntryId }, new { @class = "btn btn-default" })</p>
        </div>

        @if (i + 1 < Model.Count()) {
            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => Model[i + 1].Subject)</h2>
                <p>
                    @Html.DisplayFor(modelItem => Model[i + 1].Summary)
                </p>
                <p>@Html.ActionLink(Model[i + 1].LinkText, "Details", new { id = Model[i + 1].BlogEntryId }, new { @class = "btn btn-default" })</p>
            </div>
        }
        
        @if (i + 2 < Model.Count()) {
        <div class="col-md-4">
            <h2>@Html.DisplayFor(modelItem => Model[i + 2].Subject)</h2>
            <p>
                @Html.DisplayFor(modelItem => Model[i + 2].Summary)
            </p>
            <p>@Html.ActionLink(Model[i + 2].LinkText, "Details", new { id = Model[i + 2].BlogEntryId }, new { @class = "btn btn-default" })</p>
        </div>
        }




    </div>

}





